{% extends 'main/base.html' %} 
{% load static %} 

{% block title %}CART{% endblock %} 

{% block content %}
<!--Page Title-->
<div class="page section-header text-center">
  <div class="page-title">
    <div class="wrapper"><h1 class="page-width">Your Cart</h1></div>
  </div>
</div>
<!--End Page Title-->

<div class="container pb-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
      <form action="{% url 'products:update_cart_data' %}" method="post" class="cart style2">
        {% csrf_token %}
        <table>
          <thead class="cart__row cart__header">
            <tr>
              <th colspan="2" class="text-center">Product</th>
              <th class="text-center">Price</th>
              <th class="text-center">Quantity</th>
              <th class="text-right">Total</th>
              <th class="action">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {% if cart_items %}
            {% for item in cart_items %}
            <tr class="cart__row border-bottom line1 cart-flex border-top">
              <td class="cart__image-wrapper cart-flex-item">
                <a href="{% url 'products:view_product_details' short_name=item.short_name %}" >
                    <img
                    class="cart__image"
                    src="{% static '' %}media/{{ item.image }}"
                    alt="Elastic Waist Dress - Navy / Small"
                /></a>
              </td>
              <td class="cart__meta small--text-left cart-flex-item">
                <div class="list-view-item__title">
                  <a href="{% url 'products:view_product_details' short_name=item.short_name %}">Elastic Waist Dress </a>
                </div>

                <div class="cart__meta-text">
                  Color: {{ item.color }}<br />Size: {{ item.size }}<br />
                </div>
              </td>
              <td class="cart__price-wrapper cart-flex-item">
                <span class="money">${{ item.price }}</span>
              </td>
              <td class="cart__update-wrapper cart-flex-item text-right">
                <div class="cart__qty text-center">
                  <div class="qtyField">
                    <a class="qtyBtn minus" href="javascript:void(0);"
                      ><i class="icon icon-minus"></i
                    ></a>
                    <input
                      class="cart__qty-input qty"
                      type="text"
                      name="cart_item-{{ item.pk }}"
                      id="qty"
                      value="{{ item.quantity }}"
                      pattern="[0-9]*"
                    />
                    <a class="qtyBtn plus" href="javascript:void(0);"
                      ><i class="icon icon-plus"></i
                    ></a>
                  </div>
                </div>
              </td>
              <td class="text-right small--hide cart-price">
                <div><span class="money">${{ item.total_price }}</span></div>
              </td>
              <td class="text-center small--hide">
                <a
                  href="#"
                  class="btn btn--secondary cart__remove"
                  title="Remove item"
                  id="removeItem"
                  data-id="{{ item.pk }}"
                  ><i class="icon icon anm anm-times-l"></i
                ></a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="cart__row border-bottom line1 cart-flex border-top">
              <td colspan="6">
                <h3 class="text-center">You have no items in your cart</h3>
              </td>
            </tr>
            {% endif %}

          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" class="text-left">
                <a
                  href="{% url 'products:all_products' %}"
                  class="btn btn-secondary btn--small cart-continue"
                  >Continue shopping</a
                >
              </td>
              <td colspan="3" class="text-right">
                <button
                  type="button"
                  name="clear"
                  class="btn btn-secondary btn--small small--hide" id="clearCart"
                >
                  Clear Cart
                </button>
                <button
                  type="submit"
                  name="update"
                  class="btn btn-secondary btn--small cart-continue ml-2"
                >
                  Update Cart
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
        <div class="currencymsg">We processes all orders in USD. While the content of your cart is currently displayed in USD, the checkout will use USD at the most current exchange rate.</div>

      </form>
    </div>
    
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
     
        <div class="solid-border w-100">
          <div class="row">
            <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Subtotal</strong></span>
            <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">${{ subtotal }}</span></span>
          </div>
          <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
          <div class="cart__shipping">By clicking the button you agree to our terms and conditions</div>
          <a class="btn btn--small-wide checkout w-100 p-3" href="{% url 'products:checkout' %}">Checkout</a>
          <!-- <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Checkout" disabled="disabled"> -->
          <div class="paymnet-img"><img src="{% static 'images/payment-img.jpg' %}" alt="Payment"></div>
        </div>

    </div>
  </div>
</div>
{% endblock %}
