{% extends 'main/base.html' %} 
{% load static %} 

{% block title %}WISHLIST{% endblock %} 

{% block content %}
<!--Page Title-->
<div class="page section-header text-center">
    <div class="page-title">
        <div class="wrapper"><h1 class="page-width">Wish List</h1></div>
      </div>
</div>
<!--End Page Title-->

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <div class="wishlist-table table-content table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-name text-center alt-font">Remove</th>
                                <th class="product-price text-center alt-font">Images</th>
                                <th class="product-name alt-font">Product</th>
                                <th class="product-price text-center alt-font">Unit Price</th>
                                <th class="stock-status text-center alt-font">Stock Status</th>
                                <th class="product-subtotal text-center alt-font">Add to Cart</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if wishlist_items %}
                            {% for item in wishlist_items %}
                            <tr>
                                <td class="product-remove text-center" valign="middle">
                                    <a href="#" data-id="{{ item.pk }}" id="removeWishlist">
                                        <i class="icon icon anm anm-times-l"></i>
                                    </a></td>
                                <td class="product-thumbnail text-center">
                                    <a href="#"><img src="{% static '' %}media/{{ item.image }}" alt="" title="" /></a>
                                </td>
                                <td class="product-name"><h4 class="no-margin"><a href="{% url 'products:view_product_details' short_name=item.short_name %}">{{ item.name }}</a></h4></td>
                                <td class="product-price text-center"><span class="amount">${{ item.price }}</span></td>
                                <td class="stock text-center">
                                    <span class="in-stock">{{ item.stock }}</span>
                                </td>
                                <td class="product-subtotal text-center">
                                    <form action="{% url 'products:add_to_cart' %}?return_url={{ request.path }}" method="post">
                                        {% csrf_token %}
                                        <input type="text" name="pk" value="{{ item.pk }}" hidden>
                                        <button type="submit" class="btn btn-small">Add To Cart</button>
                                    </form>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6">
                                    <h3 class="text-center">You have no items in your wishlist</h3>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
           </div>
    </div>
</div>
{% endblock %}
